body{
  background-image: url(/images/501396-1280x720.jpg);
  font-family: 'Catamaran', sans-serif;
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
