
<style>
  .skillBlock{
    display: inline-block;
    float: left;
    background: white;
    margin-right: 80px;
    width: 210px;
    height: 300px;
  }
  .skillEmblem{
    width: 100px;
    height: 100px;
  }

</style>
 
 
 <div class="container" ng-controller="aboutController">
  <div class="row" style="margin-top:100px;color:#676767">
    <div ng-repeat="element in skills" class="skillBlock">
      <div class="col-lg-10">
        <h3>
          {{element.skill}}
        </h3>
        <p>
          {{element.description}}
        </p>
        <img class="skillEmblem" ng-src="{{element.image}}" alt="">
      </div>
    </div>
  </div>
</div>