<style>
  .quote{
    border: 1px solid;
    height: 150px;
    margin-top: 150px;
    background: #5a5a5a;
    opacity: 0.8;
    padding: 40px;
    transition: all 1s;
  }
  .heart {
    animation: beat 4s infinite alternate;
    transform-origin: center;
  }

  /* Heart beat animation */
  @keyframes beat{
    to { transform: scale(1.1); }
  }
</style>




<div class="container">
  <div class="row">
    <div class="col-lg-12 quote bounce heart">
      <h3>Don't mention the fire, when fire fries the fire, fire will e fired. I'm the fire, I'm the fire</h3>
      <h4 class="pull-right">-Gopaluni</h4>
    </div>
  </div>  
</div>